.services-container {
  background-color: #ffffff;
  padding: 60px 20px;
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.services-title {
  font-size: 48px;
  font-weight: bold;
  color: #00274d;
}



.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}



.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 113, 255, 0.2);
}

.service-card {
  background-color: #f1f9ff;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 113, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.service-icon {
  background-color: #1a76d1;
  color: white;
  font-size: 36px;
  padding: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}


.service-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #1A76D1;
  margin-bottom: 10px;
  line-height: 1.4;
}

.service-card-text {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}
